:root {
  --primary-color: #2e2f42;
  --secondary-color: #434455;
  --accent-color: #4d5ae5;
  --hover-color: #404bbf;
  --background-color: #ffffff;
  --background-items: #f4f4fd;
  --lightslate: #8e8f99;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}

.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
}

button {
  cursor: pointer;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--secondary-color);
  background-color: var(--background-color);
}
.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.logo-color {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-color);
}
.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-color);
  margin-right: 76px;
}
.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.page-header-container {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}
.main-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 452px;
}
.menu {
  display: flex;
  column-gap: 40px;
  padding: 24px 0px 20px 0px;
}
.list-address {
  display: flex;
  column-gap: 40px;
}
.menu-link {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.menu-link:hover,
.menu-link:focus {
  color: var(--hover-color);
}

.list-address-link {
  color: var(--secondary-color);
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.tel-mail {
  font-style: normal;
}
.list-address-link:hover,
.list-address-link:focus {
  color: var(--hover-color);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.filters {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: stretch;
  gap: 24px;
  justify-content: center;
  align-items: center;
  margin-bottom: 72px;
}
.button-filters {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--accent-color);
  background-color: var(--background-items);
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid #e7e9fc;
}
.button-filters:hover,
.button-filters:focus {
  color: var(--background-color);
  background-color: var(--hover-color);
  border: 1px solid transparent;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}
.projects {
  padding-top: 96px;
  padding-bottom: 120px;
}
.cards {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.project-cards {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: stretch;
  row-gap: 48px;
  column-gap: 24px;
  margin-top: 72px;
}
.project-cards-link {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project-cards-link:hover,
.project-cards-link:focus {
  transform: translateY(0%);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.project-cards-item {
  display: flex;
  width: 360px;
  flex-direction: column;
  align-items: flex-start;
  width: calc((100% - 3 * 24) / 4);
  flex-shrink: 0;
}
.project-cards-item:hover,
.project-cards-item:focus {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.project-cards-item:hover .overlay,
.project-cards-item:focus .overlay {
  transform: translateY(0%);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.project-cards-link:focus .overlay {
  transform: translateY(0%);
}
.img-overlay {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  color: var(--background-items);
  background-color: var(--accent-color);
  padding: 40px 32px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  flex-shrink: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project-cards-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-color);
  margin-bottom: 8px;
}

.project-cards-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}
.hero {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/people-office.jpg);
  background-color: var(--primary-color);
  background-repeat: no-repeat;
  flex-shrink: 0;
  padding: 184px 0px 188px 0px;
  max-width: 1440px;
  background-position: center;
  background-size: cover;
}
.tittle {
  display: flex;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--background-color);
  text-align: center;
  max-width: 496px;
  margin-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
}

.cta-button {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--background-color);
  background-color: var(--accent-color);
  display: block;
  min-width: 169px;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  margin-top: 48px;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.cta-button:hover,
.cta-button:focus {
  background-color: var(--hover-color);
}
.benefits {
  padding: 120px 0;
}
.benefit-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  width: 264px;
  background-color: var(--background-items);
  border-radius: 4px;
  margin-bottom: 8px;
}
.benefits-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-color);
  margin-bottom: 8px;
}
.benefits-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.benefits-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: stretch;
  gap: 24px;
}
.benefits-list-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: calc((100% - 3 * 24px) / 4);
}
.what-are-we-doing {
  padding-bottom: 120px;
}
.our-job {
  margin-bottom: 72px;
}
.our-job-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: stretch;
  gap: 24px;
}
.our-job-item {
  display: flex;
  align-items: flex-start;
  width: calc((100% - 2 * 24p) / 3);
}
.our-job,
.our-team,
.our-customers {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: var(--primary-color);
}

.our-team {
  margin-bottom: 72px;
}
.team {
  background-color: var(--background-items);
  padding-bottom: 120px;
  padding-top: 120px;
}
.team-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: stretch;
  gap: 24px;
}
.name-position {
  padding: 32px 0;
}
.team-member {
  background-color: var(--background-color);
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc((100% - 3 * 24) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.worker-name {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-color);
  text-align: center;
  margin-bottom: 8px;
}
.work-position {
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.social-list-team {
  justify-content: center;
  gap: 24px;
}
.page-footer {
  padding: 100px 0;
  background-color: var(--primary-color);
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--background-items);
  width: 264px;
}
.logo-footer {
  font-family: "Raleway", sans-serif;
  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block;
  align-items: center;
  flex-shrink: 0;
  margin-bottom: 16px;
}
.logo-color-footer {
  font-family: "Raleway", sans-serif;
  color: var(--background-items);
}
.social-footer {
  color: var(--background-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.social-list-icon {
  fill: var(--background-items);
}
.social-list-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--accent-color);
  column-gap: 16px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.social-list-link:hover,
.social-list-link:focus {
  background-color: #31d0aa;
}
.social-link-team {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--accent-color);
  gap: 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.social-icon-team {
  fill: var(--background-items);
}
.social-link-team:hover,
.social-link-team:focus {
  background-color: var(--hover-color);
}
.social-list-team {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 24px;
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 8px;
}
.customers {
  padding: 120px 0 120px;
}
.customers-logo {
  height: 88px;
  flex-shrink: 0;
  width: calc((100% - 120px) / 6);
}

.customer-logo {
  fill: currentColor;
}
.customer-logo:hover,
.customer-logo :focus {
  fill: var(--hover-color);
}

.customers-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
}
.customer-link {
  padding: 16px 32px;
  width: 100%;
  height: 100%;
  border: 1px solid var(--lightslate);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--lightslate);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customer-link:hover,
.customer-link:focus {
  border-color: var(--hover-color);
  color: var(--hover-color);
}
.our-customers {
  margin-bottom: 72px;
}
.benefit-icon {
  margin-bottom: 8px;
}
.logotype {
  display: flex;
  flex-direction: column;
  margin-right: 120px;
}
.socials {
  display: flex;
  flex-direction: column;
}
.page-footer-container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
.social-footer-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  padding-bottom: 32px;
}
.input-footer {
  margin-left: 80px;
}
.subscribe-footer {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: var(--background-color);
  margin-bottom: 16px;
}
.footer-form {
  display: flex;
  gap: 24px;
}

.footer-email {
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  border: 1px solid var(--background-color);
  outline: 0px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background-color: transparent;
  width: 264px;
  height: 40px;
  flex-shrink: 0;
  padding-left: 16px;
  align-items: center;
  color: var(--background-color);
}
.footer-email::placeholder {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.48px;
  color: var(--background-color);
}
.footer-email:focus {
  border: 1px solid var(--accent-color);
}
.subscribe-btn {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  color: var(--background-color);
  background-color: var(--accent-color);
  cursor: pointer;
  min-width: 165px;
  height: 40px;
  border: none;
  border-radius: 4px;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  display: flex;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-btn:hover {
  background-color: var(--hover-color);
}
.btn-icon {
  fill: var(--background-color);
  margin-left: 16px;
}
.current {
  color: var(--hover-color);
  position: relative;
}
.current::after {
  position: absolute;
  left: 0;
  top: 20px;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--hover-color);
  border-radius: 2px;
  content: "";
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
.backdrop {
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal {
  padding: 72px 24px 24px 24px;
  position: absolute;
  flex-shrink: 0;
  border-radius: 4px;
  background: #fcfcfc;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  min-height: 584px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 24px;
  right: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  border-color: rgba(0, 0, 0, 0.1);
  border-width: 1px;
  padding: 0;
  line-height: 0;
  width: 24px;
  height: 24px;
  background-color: #e7e9fc;
  fill: var(--primary-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-btn:hover,
.close-btn:focus {
  border: none;
  background-color: var(--hover-color);
  fill: var(--background-color);
}
.close-btn-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-description {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--primary-color);
  text-align: center;
  margin-bottom: 16px;
}
.form-field {
  margin-bottom: 8px;
}
.review-form-field {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.48px;
  color: var(--lightslate);
  margin-bottom: 4px;
  display: block;
}
.review-form-wrapper {
  display: block;
  position: relative;
}
.review-form-input-icon {
  flex-shrink: 0;
  left: 16px;
  fill: var(--primary-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.review-form-input {
  width: 100%;
  height: 40px;
  flex-shrink: 0;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding-left: 38px;
  font-size: 18px;
  outline: transparent;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.review-form-input:focus {
  border-color: var(--accent-color);
}
.review-form-input:focus + .review-form-input-icon {
  fill: var(--accent-color);
}
.form-field-message {
  margin-bottom: 16px;
}
.review-form-message {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  width: 100%;
  height: 120px;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  resize: none;
  padding: 8px 16px;
  border-radius: 4px;
  outline: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.review-form-message::placeholder {
  color: rgba(46, 47, 66, 0.4);
}
.review-form-message:focus {
  border-color: var(--accent-color);
}
.form-field-checkbox {
  margin-bottom: 24px;
}
.review-form-checkbox-label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--lightslate);
}
.checkbox-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: transparent;
  cursor: pointer;
  margin-right: 8px;
}
.review-form-checkbox:checked + .review-form-checkbox-label .checkbox-icon {
  background-color: var(--hover-color);
  border: none;
  fill: var(--background-items);
}
.review-form-checkbox:focus + .review-form-checkbox-label .checkbox-icon {
  border-color: var(--accent-color);
}
.privacy-policy-link {
  color: var(--accent-color);
}
.review-form-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--background-color);
  cursor: pointer;
  background-color: var(--accent-color);
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.review-form-button:hover,
.review-form-button:focus {
  background-color: var(--hover-color);
}
