:root {
  --primary-color: #2e2f42;
  --secondary-color: #434455;
  --accent-color: #4d5ae5;
  --hover-color: #404bbf;
  --background-color: #ffffff;
  --background-items: #f4f4fd;
  --lightslate: #8e8f99;
}
